<%= form_with(model: membership) do |form| %>
  <% if membership.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(membership.errors.count, "error") %> prohibited this membership from being saved:</h2>

      <ul>
        <% membership.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :charge, style: "display: block" %>
    <%= form.select :charge, [40,60,80].map {|t| t}, class: "form-select" %>
  </div>

  <div>
    <%= form.label :client_id, style: "display: block" %>
    <%= form.select :client_id, @clients.map {|c| [c.name, c.age, c.id] }, class: "form-select" %>
  </div>

  <div>
    <%= form.label :gym_id, style: "display: block" %>
    <%= form.select :gym_id, @gyms.map {|c| [c.name, c.address, c.id] } %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
